.review {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 24px;
}

.avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--extra-light-gray);
    font-size: 18px;
    font-weight: bold;
    color: var(--red);
}

.content {
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;

}

.name {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-blue);
}

.rating {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.emptyStar {
    font-size: 16px;
    color: var(--light-gray);
}

.filledStar {
    color: var(--yellow);
}

.comment {
    font-size: 14px;
    color: var(--gray-blue);
    margin-top: 8px;
    line-height: 1.5;
}