.bookingForm {
    flex: 1;
    padding: 20px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bookingForm h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark-blue);
}

.bookingForm p {
    font-size: 14px;
    color: var(--gray-blue);
    margin-bottom: 20px;
}

.bookingForm input,
.bookingForm textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: var(--extra-light-gray);
    font-size: 16px;
    color: var(--gray-blue);
    box-sizing: border-box;
    border: none;
}

.bookingForm input[type="date"] {
    padding: 10px;
}

.bookingForm button {
    padding: 16px 60px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 200px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: block;
   
    margin-left: auto;
    
    margin-right: auto;
    
}

.bookingForm button:hover {
    background-color: var(--dark-red);
}

@media (max-width: 768px) {
    .bookingForm {
        margin-top: 20px;
    }
}

